<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>MATCHAGANA - Match Hiragana to Romaji</title>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <a class="logo" href="/"><img src="static/Matchagana logo 2.png" alt="Matchagana Logo" height="280" width="640"></a>
        <div class="content">
            <h2 class="hiragana"> {{ hiragana_character }} </h2>
            <h1>Match Hiragana to Romaji</h1>
            <br /><br />
            <form method="POST">
                <button class="start_button" name="button">Start Game</button>
            </form>
            <br />
            <p>Choose the correct Romaji to match the Hiragana. Earn points and memorise Hiragana!</p>
            <p></p>
        </div>
    </body>
</html>