<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>MATCHAGANA - Match Hiragana to Romaji</title>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="static/Matchagana Favicon.ico"/>
    </head>
    <body>
        <a class="logo" href="/"><img src="static/Matchagana logo 2.png" alt="Matchagana Logo" height="280" width="640"></a>
        <div class="float-right">
            <p>Recent Scores</p><br />
            <p>{{ ten_most_recent }}</p></div>
        <div class="content">
            <h1>Leaderboard Updated</h1>
        </div>
        <div class="content">
            <h2>Thanks for submitting your score!</h2>
            <p class="smol"><strong>Click the logo to play again.</strong></p>
            <form method="POST">
                <button class="start_button" name="replay">Replay</button>
            </form>
            <p></p>
        </div>
    </body>
</html>