<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>MATCHAGANA - Match Hiragana to Romaji</title>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="static/Matchagana Favicon.ico"/>
    </head>
    <body>
        {% include "header.html" %}
        <div class="float-right">
            <p>Recent Scores</p><br />
            <p>{{ ten_most_recent }}</p></div>
        <div class="content">
            <h1 class="hiragana">Arigatou Gozaimasu!</h1>
        </div>
        <div class="content">
            <h2>Your score has been submitted to our database. Thank you for your submission!</h2>
            <p class="smol"><strong>Click the logo to play again!</strong></p>
        </div>
            {% include "footer.html" %}
    </body>
</html>