{% extends 'base.html' %}
{% block content %}
        <h2 class="kana">About Matchagana</h2>
        <p>Matchagana started life as a hiragana to romaji matching game. Initially developed in 2020, 
        Matchagana aims to provide a fun way to learn to memorise hiragana characters to their romaji counterparts.</p>
        <p>There are future updates planned, including leaderboards and timers.</p>
        <p>I decided to develop this in my spare time as a way to cement my Japanese learning and also learning software development principles.</p>
                <p>You can visit the Matchagana repo <a href="https://github.com/timothyfothergill/matchagana">here.</p>
{%endblock%}