<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>MATCHAGANA - Match Hiragana to Romaji</title>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="static/Matchagana Favicon.ico"/>
    </head>
    <body>
    {% include "header.html" %}
    <div class="flashes">
        {% for message in get_flashed_messages() %}
            <h1>{{ message }}</h1>
        {% endfor %}
    </div>
    <div class="content" style="font-family:ubuntu">
        {% block content %}{%endblock%}
    </div>
    {% include "footer.html" %}
    </body>
</html>