{% extends 'base.html' %}
{% block content %}
    <h2 class="hiragana"> {{ hiragana_character }} </h2>
    <h1>Match Hiragana to Romaji</h1>
    <a href="/start"><button class="start_button" name="start" style="margin-top:12px;">Start Game</button></a>
    <br />
    <p>Choose the correct Romaji to match the Hiragana. Earn points and memorise Hiragana!</p>
    <p class="smol">Looking to practice Hiragana before you play? Check <a href="https://en.wikipedia.org/wiki/Hiragana#Writing_system">Wiki: Hiragana</a></p>
{% endblock %}