{% extends 'base.html' %}
{% block content %}
        <div class="content">
            <h1>Match Hiragana to Romaji</h1>
            <h2 class="hiragana"> {{ next_hiragana }} </h2>
            <form method="POST">
                <p>Choose the correct Romaji</p>
                <input value="{{ romaji_one }}" name="button" type="submit" onclick="await_player()" class="input_button"></input>
                <input value="{{ romaji_two }}" name="button" type="submit" onclick="await_player()" class="input_button"></input>
                <input value="{{romaji_three}}" name="button" type="submit" onclick="await_player()" class="input_button"></input>
            </form>
            <br />
            <p>Choose the correct Romaji to match the Hiragana. Earn points and memorise Hiragana!</p>
            <p></p>
        </div>
{% endblock %}