{% extends 'base.html' %}
{% block content %}
<div class="update-list">
    <h1 class="kana">24th April 2022</h1>
    <h2>Katakana Mode Is Here</h2>
    <h2>v1.1</h2>
    <ul>
        <li>New Katakana game mode</li>
        <li>Slight change to styles</li>
        <li>New <a href="http://matchagana.herokuapp.com/api/matchagana">Matchagana API</a> </li>
        <li>Alternatively append some romaji to the end of the URL (i.e <a href=http://matchagana.herokuapp.com/api/matchagana/a>/api/matchagana/a</a>) for an individual Matchagana)</li>
    </ul>
</div>    
{% endblock %}